// <!----------- HEADER ----------->
header
{
    height:           100vh;
    display:          flex;
    flex-direction:   column;
    align-items:      center;
    justify-content:  center;

    .header__bg-img
    {
        position:   absolute;
        top:        0;
        left:       0;
        min-width:  100%;
        max-height: 100%;
        z-index:    -1;
    }

    .header__greet
    {
        margin: 50px auto;
    }

    .header__name
    {
        margin-bottom: 50px;
    }

    .header__description
    {
        max-width: 926px;
        text-align: center;
    }

    .header__mouse
    {
        position: relative;
        top: 12rem;
        display: flex;
        flex-direction: column;
        animation: mouse-bounce 2.4s infinite alternate ease-in-out; 

        .header__mouse-ico
        {
            margin-bottom: 0.4rem;
        }
    }
}

@keyframes mouse-bounce
{
    0% { transform: translateY(-15px); }
}
  
// <!----------- ABOUT #1 ----------->
.about
{
    background-color: #1976D2;
}
  
// <!----------- ABOUT #2 ----------->
.gallery
{
    background-color: #2196F3;
}
  
// <!----------- QUOTE ----------->
.quote
{
    background-color: #BBDEFB;
}
  
// <!----------- CONTACT ----------->
.contact
{
    background-color: #BDBDBD;
}
  
// <!----------- FOOTER ----------->
footer
{
    background-color: #009688;
}