// <!----------- HEADER ----------->
header
{
    height:           100vh;
    display:          flex;
    flex-direction:   column;
    align-items:      center;
    justify-content:  center;

    .header__bg-img
    {
        position:   absolute;
        top:        0;
        left:       0;
        min-width:  100%;
        max-height: 100%;
        z-index:    -1;
    }

    .header__greet
    {
        margin: 50px auto;
    }

    .header__name
    {
        margin-bottom: 50px;
    }

    .header__description
    {
        max-width: 926px;
        text-align: center;
    }

    .header__mouse
    {
        position: relative;
        top: 12rem;
        display: flex;
        flex-direction: column;
        animation: mouse-bounce 2.4s infinite alternate ease-in-out; 

        .header__mouse-ico
        {
            margin-bottom: 0.4rem;
        }
    }
}

@keyframes mouse-bounce
{
    0% { transform: translateY(-15px); }
}
  
// <!----------- ABOUT ----------->
.about
{
    // background-color: #1976D2;
}

.about__01, .about__02
{
    position:        relative;
    height:          100vh;
    width:           1230px;
    display:         flex;
    justify-content: space-between; 
    align-items:     center;
}

.about__01__fig, .about__02__fig
{
    max-width: 615px;
}

.about__01__subtitle-01, .about__02__subtitle-02
{
    margin: 0.8em 0;

    span
    {
        display: block;
    }
}

.about__01__img, .about__02__img
{
    position: absolute;
}

// ABOUT 01
.about__01__img
{
    top:       50%;
    right:     0;
    transform: translate(30%, -50%);
}

// ABOUT 02

.about__02__img
{
    top:       50%;
    left:      0;
    transform: translate(-30%, -50%);
}

.about__02
{
    flex-direction: row-reverse;
}

.about__02__fig
{
    display: flex;
    flex-direction: column;
}

.about__02__02
{
    text-align: right;
}


  
// <!----------- GALLERY ----------->
.gallery
{
    // background-color: #2196F3;
}

.gallery__subtitle
{
    span
    {
        display: block;
    }
}

.gallery__card
{
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    text-align:      center;
}

.gallery__overlay
{
    height: 100%;
    // height: auto;
    overflow: hidden;
    background-color: $blue;
    // mix-blend-mode: color;
    z-index: 999;
}

.gallery__card__title,
.gallery__card__subtitle
{
    position: absolute;
}

.gallery__img-card
{
    
}

// <!----------- QUOTE ----------->
.quote
{
    height: 100vh;
    max-width: 1230px;
    display: flex;
    align-items: center;
}
  
// <!----------- CONTACT ----------->
.contact
{
    // background-color: #BDBDBD;
    height:          100vh;
    width:           1230px;
    display:         flex;
    justify-content: space-evenly;
    align-items:     center;
}

.contact__git, .contact__info
{
    margin: 2rem;
}


// CONTACT__GIT
.contact__git
{
    max-width: 370px;
}


// CONTACT_INFO
.contact__info
{
    max-width: 500px;
    display:   flex;
    flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: stretch;
  align-items: stretch;
}

.contact__info__email, 
.contact__info__skype, 
.contact__info__social, 
.contact__info__tel
{
    min-height: 50px;
    width:      200px;
    margin:     0.5rem;
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
    margin: 5px;
}

.contact__info__skype,
.contact__info__tel
{
    margin-left: 1.5rem;
}

.info__social__icons
{
    display: flex;
    
    justify-content: flex-start;

    .fab
    {
        width:     20px;
        height:    20px;
        margin-right: 2.2rem;
        font-size: 35px;
        color:    $grey;

        &:nth-child(4)
        {
            color: $blue;
        }
    }

}

.break
{
    display: block;
    height: 1px;
    width: 100%;
}
  
// <!----------- FOOTER ----------->
footer
{
    position: relative;
    width: 100%;
    height: 380px;
    color: #FFF;
    display: flex;
    flex-direction: column;

    // &:hover .footer__bg-img
    // {
    //     filter: grayscale(0);
    // }
}

.footer__bg-img
{
    position:   absolute;
    top:        0;
    left:       0;
    max-width:  100%;
    height:     100%;
    z-index:    -1;
    // filter: grayscale(1);
    transition: all 0.3s ease-in;
}

.footer__mark
{
    position:   relative;
    top:        50%;
    text-align: center;
}

.footer__logo
{
    margin-bottom: 1.5rem;
}

