//  <!--------------------------------------------------->
//  <!----------- MAX WIDTH : 9999px - 1420px ----------->
//  <!--------------------------------------------------->
@import 'partials/colors';
// <!----------- HEADER ----------->
header
{
    height:           100vh;
    display:          flex;
    flex-direction:   column;
    align-items:      center;
    justify-content:  center;

    .header__bg-img
    {
        position:   absolute;
        top:        0;
        left:       0;
        min-width:  100%;
        max-height: 100%;
        z-index:    -1;
    }

    .header__greet
    {
        margin: 50px auto;
    }

    .header__name
    {
        margin-bottom: 50px;
    }

    .header__description
    {
        max-width:  926px;
        text-align: center;
    }

    .header__mouse
    {
        position:       relative;
        top:            12rem;
        display:        flex;
        flex-direction: column;
        animation:      mouseBounce 2.4s infinite alternate ease-in-out; 

        .header__mouse-ico
        {
            margin-bottom: 0.4rem;
        }
    }
}

@keyframes mouseBounce
{
    0% { transform: translateY(-15px); }
}
  
// <!----------- ABOUT ----------->
.about__01, 
.about__02
{
    position:        relative;
    height:          100vh;
    width:           1230px;
    display:         flex;
    justify-content: space-between; 
    align-items:     center;
}

.about__01__fig, 
.about__02__fig
{
    max-width: 615px;
}

.about__01__subtitle-01, 
.about__02__subtitle-02
{
    margin: 0.8em 0;

    span
    {
        display: block;
    }
}

.about__01__img, 
.about__02__img
{
    position: absolute;
}


// ABOUT 01
.about__01__img
{
    top:        50%;
    right:     -2%;
    transform:  translate(30%, -50%);
}

// ABOUT 02

.about__02__img
{
    top:        50%;
    left:      -2%;
    transform:  translate(-30%, -50%);
}

.about__02
{
    flex-direction: row-reverse;
}

.about__02__fig
{
    display:        flex;
    flex-direction: column;
}

.about__02__02
{
    text-align: right;
}

  
// <!----------- GALLERY ----------->
.gallery
{
    display:        flex;
    flex-direction: column;
    align-items:    center;
}

.gallery__wrap
{
    width:     1230px;
    display:   flex;
    flex-wrap: wrap;
}

.gallery__img
{
    height:    10%;
    padding:   0.5rem 0.55rem; // Higher padding will stretch and misplace the pictures
    overflow:  hidden;
    flex-grow: 1; // Without this the pics don't fill the whole space
}

.gallery__subtitle
{
    margin-bottom: 10rem;
}

.gallery__card
{
    position:        relative;
    height:          10%;
    padding:         0.5rem 0.55rem;
    display:         flex;
    justify-content: center;
    align-content:   center;
    text-align:      center;
}

.gallery__overlay
{
    position:       absolute;
    top:            40%;
    width:          500px;
    display:        flex;
    flex-direction: column;
    align-items:    center;
    z-index:        2;
}

.overlay__background
{
    position:          absolute;
    top:               0.5rem; // Padding values...
    left:              0.55rem;   // ...from .gallery_card
    width:             570px;
    height:            427px;
    background-color: $blue;
    opacity:           0.8;
    z-index:           1;
}


// <!----------- QUOTE ----------->
.quote
{
    height: 100vh;
    max-width: 1230px;
    display: flex;
    align-items: center;
}
  
// <!----------- CONTACT ----------->
.contact
{
    height:          100vh;
    width:           1230px;
    display:         flex;
    justify-content: space-evenly;
    align-items:     center;
}

.contact__git, 
.contact__info
{
    margin: 2rem;
}


// CONTACT__GIT
.contact__git
{
    max-width: 370px;
}


// CONTACT_INFO
.contact__info
{
  max-width:       500px;
  display:         flex;
  flex-direction:  row;
  flex-wrap:       wrap;
  justify-content: space-between;
  align-content:   stretch;
  align-items:     stretch;
}

.contact__info__email, 
.contact__info__skype, 
.contact__info__social, 
.contact__info__tel
{
    min-height:    50px;
    width:         200px;
    margin:        0.5rem;
    margin-bottom: 2rem;
    order:         0;
    flex:          1 1 auto;
    align-self:    auto;
}

.contact__info__skype,
.contact__info__tel
{
    margin-left: 1.5rem;
}

.info__social__icons
{
    display:         flex;
    justify-content: flex-start;

    .fab
    {
        width:        20px;
        height:       20px;
        margin-right: 2.2rem;
        font-size:    35px;
        color:       $grey;

        &:nth-child(4)
        {
            color: $blue;
        }
    }

}

.break
{
    display: block;
    height:  1px;
    width:   100%;
}
  
// <!----------- FOOTER ----------->
footer
{
    position:       relative;
    width:          100%;
    height:         380px;
    color:       #FFF;
    display:        flex;
    flex-direction: column;
}

.footer__bg-img
{
    position:   absolute;
    top:        0;
    left:       0;
    min-width:  100%;
    height:     100%;
    z-index:    -1;
}

.footer__mark
{
    position:   relative;
    top:        50%;
    text-align: center;
}

.footer__logo
{
    margin-bottom: 1.5rem;
}








//  <!-------------------------------------------------->
//  <!----------- MID WIDTH : 1369px - 995px ----------->
//  <!-------------------------------------------------->
@media screen
and (max-width: 1369px)
and (min-width: 995px)
{
    // <!----------- HEADER ----------->
    header .header__mouse
    {
        top: 10rem;
    }

  
    // <!----------- ABOUT ----------->

    .about__01,
    .about__02
    {
        width:          995px;
        flex-direction: column;
        margin-bottom:  15rem;
        padding-top:    5rem;
    }
    
    .about__01__img, 
    .about__02__img
    {
        position:     static;
        margin-right: 5rem;
        transform:    translate(0,0);
        align-self:   flex-end;
    }
    

    // ABOUT 01
    .about__01__fig
    {
        margin-bottom: 2rem;
        align-self:    flex-start;
    }



    // ABOUT 02
    .about__02
    {
        flex-direction: column-reverse;

    }

    .about__02__fig
    {
        align-self:    flex-end;
        margin-right:  5rem;
        margin-bottom: 2rem;
    }

    

    .about__02__img
    {
        align-self: flex-start;
    }

  
    // <!----------- GALLERY ----------->
    .gallery__wrap
    {
        width: 995px;
        justify-content: center;
    }

    .gallery__img, .gallery__img-card
    {
        width: auto;
        height: 350px;
        flex-grow: 0;
    }

    .gallery__card, .overlay__background
    {
        width: auto;
        height: 350px;
        flex-grow: 0;
    }


// <!----------- QUOTE ----------->


  
// <!----------- CONTACT ----------->


// CONTACT__GIT


// CONTACT_INFO


  
// <!----------- FOOTER ----------->

}










//  <!------------------------------------------------->
//  <!----------- MIN WIDTH : 994px - 320px ----------->
//  <!------------------------------------------------->
@media screen
and (max-width: 994px)
and (min-width: 320px)
{
    // <!----------- HEADER ----------->
       
      
    // <!----------- ABOUT ----------->

    
    // ABOUT 01

    
      
    // <!----------- GALLERY ----------->

    
    
    // <!----------- QUOTE ----------->
    
    
      
    // <!----------- CONTACT ----------->
    
    
    // CONTACT__GIT
    
    
    // CONTACT_INFO
    
    
      
    // <!----------- FOOTER ----------->
}