// <!----------- HEADER ----------->
  
// <!----------- ABOUT ----------->
.about__01__img
{
    max-width: 997px;
    // height: auto;
    align-self: center;
}

.about__01__01
{
    position: relative;
}

.line__01, .line__02
{
    position: absolute;
    width:    290px;
    height:   2px;
    background-color: $blue;
    overflow: hidden;

}

.line__01
{
    top:   65%;
    left: -52%;
}

.line__02
{
    top:    32%;
    right: -25%;
}
// <!----------- GALLERY ----------->

.gallery__03
{
    position: relative;
    margin-bottom: 3rem;
    line-height: 10rem;
    &::after
    {
        content: "";
        position: absolute;
        top: 100%;
        left: 15%;
        width: 72px;
        height: 10px;
        border-bottom: 4px solid $blue;

    }
}

.strike
{
    display: block;
    position: relative;

    &::after
    {
        content: "";
        position: absolute;
        top: -60px;
        left: 17%;
        width: 85%;
        height: 100px;
        border-bottom: 2px solid $blue;
        z-index: -1;
    }
}
 

// <!----------- QUOTE ----------->
  
// <!----------- CONTACT ----------->
.contact__git__title
{
    margin: 2rem 0;
}

.contact__btn
{
    position:           relative;
    width:              270px;
    height:             60px;
    margin:             2rem 0;
    background-color: white;
    border:             1px solid $grey;
    overflow:           hidden;

    &::after
    {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 270px;
        height: 60px;
        background-color: $blue;
        // Continue from here https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path
        clip-path: polygon(150% 0, 100% 50%, 50% 100%, 0 50%);
        opacity: 0.2;
    }
}
  
// <!----------- FOOTER ----------->