@import 'partials/colors';
@import 'font';
@import 'block';
@import 'element';
@import 'modifier';

// Remember about @extend to keep your code DRY
/*
%message {
  css
}
...
body {
    @extend %message
}

Or just refactor properly
*/


//  <!--------------------------------------------------->
//  <!----------- MAX WIDTH : 9999px - 1370px ----------->
//  <!--------------------------------------------------->
*, 
*::before, 
*::after
{
    box-sizing:   border-box;
    // background: rgba(236, 113, 113, 0.2); // Box debugger, delete after the website is done
}

body
{
  width:          100%;
  display:        flex;
  flex-direction: column;
  align-items:    center;
  overflow-x:     hidden; // This cuts off overflowing elements on the left and right of the viewport
}

header, 
section
{
  min-width: 320px;
}














//  <!-------------------------------------------------->
//  <!----------- MID WIDTH : 1369px - 995px ----------->
//  <!-------------------------------------------------->
@media screen
and (max-width: 1369px)
and (min-width: 995px)
{
  *, 
  *::before, 
  *::after
  {
      // background: rgba(0,0,0,0.1); // Box debugger, delete after the website is done
  }

  body
  {
    padding: 0 5rem;
    margin: 0;
  }

  header, 
  section
  {
    width: 995px;
    // min-width: 995px;
    // max-width: 1369px;
    padding: 0 5rem;
  }
}















//  <!------------------------------------------------->
//  <!----------- MIN WIDTH : 994px - 320px ----------->
//  <!------------------------------------------------->
@media screen
and (max-width: 994px)
and (min-width: 320px)
{
  *, 
  *::before, 
  *::after
  {
      background: rgba(65, 53, 238, 0.1); // Box debugger, delete after the website is done
  }

  header, 
  section
  {
    min-width: 405px;
    padding:   0 5rem;

  }
}